//
// contact.scss
//

.contact {
  .contact-details {
    span {
      margin-right: 18px;
    }
  }
}
.form {
  .form-control {
    padding: 14px 13px;
  }
}
.map {
  line-height: 0;
}
